*{
    margin: 0;
    padding: 0;
}

body{
    margin: 20px;
}
section{
    padding: 10px;
}
.result{
    margin: 10px 0;
    font-style: italic;
    font-size: 1.2em;
}

dd{
    margin: 5px 0;
}
input{
    margin: 5px 0;
}
input[type=submit]{
    padding: 5px 10px;
}

a{
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid grey;
    color: #000000;
}